{% extends 'base.html' %}
  
 

  {% block content %} 

	<div class="oferta">
			<h1>OFERTA</h1>

    		<h2>OFERUJEMY KOMPLEKSOWE USŁUGI BUDOWLANE: </h2>
	<ul class="list-group align-items-center ">
  		<li class="list-group-item">BUDOWA DOMÓW OD PODSTAW</li>
  		<li class="list-group-item">REMONTY I MODERNIZACJE OBIEKTÓW</li>
  		<li class="list-group-item">USŁUGI REMONTOWO BUDOWLANE</li>
  		<li class="list-group-item">ELEWACJE CEGLA RĘCZNIE FORMOWANA</li>
  		<li class="list-group-item">ELEWACJE CEGLA KLEJONA (BIALE FUGI)</li>
  		<li class="list-group-item">ELEWACJE KLINKIEROWE</li>
  		<li class="list-group-item">TYNKOWANIE MASZYNOWE</li>
  		<li class="list-group-item">PRACE WYKOŃCZENIOWE</li>

	</ul>

	</div>

 
    
	{% endblock %}