	{% extends 'base.html' %}
	{% load static %}
	{% block content %} 




    	<section class="jumpers">
		
			<div class="container">
				
				<header>
					
					<h1>Nasze projekty</h1>
					<h2>W tej sekcji specjalnie dla Was prezentujemy zdjecia z kilku naszych projektow. </h2>
						
				</header>
				
				<div class="row">
					
					

					<div class="col-sm-6 col-md-4">
					
						<figure>
							<a href="#"><img src="{% static "img/cegly.jpg" %}" alt="Coming soon"></a>
							<figcaption>Cegiełka 2</figcaption>
						</figure>
					
					</div>

					<div class="col-sm-6 col-md-4">
					
						<figure>
							<a href="#"><img src="{% static "img/dom.jpg" %}" alt="Coming soon"></a>
							<figcaption>Dom</figcaption>
						</figure>
					
					</div>

					<div class="col-sm-6 col-md-4">
					
						<figure>
							<a href="#"><img src="{% static "img/fasada.jpg" %}"alt="Coming soon"></a>
							<figcaption>Fasada</figcaption>
						</figure>
					
					</div>

					<div class="col-sm-6 col-md-4">
					
						<figure>
							<a href="#"><img src="{% static "img/fasada1.jpg" %}" alt="Coming soon"></a>
							<figcaption>Fasada 1</figcaption>
						</figure>
					
					</div>

					<div class="col-sm-6 col-md-4">
					
						<figure>
							<a href="#"><img src="{% static "img/fasada2.jpg" %}" alt="Coming soon"></a>
							<figcaption>Fasada 2</figcaption>
						</figure>
					
					</div>

					<div class="col-sm-6 col-md-4">
					
						<figure>
							<a href="#"><img src="{% static "img/fasada3.jpg" %}" alt="Coming soon"></a>
							<figcaption>Fasada 3</figcaption>
						</figure>
					
					</div>
					<div class="col-sm-6 col-md-6 offset-md-1">
					
						<figure>
							<a href="#"><img src="{% static "img/budowa.jpg" %}" alt="Coming soon"></a>
							<figcaption>Budowa</figcaption>
						</figure>
					
					</div>
					
					<div class="col-sm-6 col-md-4">
					
						<figure>
							<a href="#"><img src="{% static "img/cegla.jpg" %}" alt="Coming soon"></a>
							<figcaption>Cegiełka</figcaption>
						</figure>
					
					</div>
					
				
				</div>
				
			</div>	
				
		</section>


    

	{% endblock %}

